<h1> File Upload </h1>

<!-- Single file -->
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar" >
    <button>Submit</button>
</form>

<!-- Muliple files -->
<form action="/upload-mul" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar" multiple>
    <button>Submit</button>

</form>